<%- include('../includes/head.ejs') %>
<link rel='stylesheet' href='/css/forms.css'>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
        <div class='user-message user-message-error'><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action='/newPassword' method='post'> 
            <div class="form-control">
                <label for='oldPassword'>Old Password</label>
                <input class='<%= validationErrors.find(e => e.param === "oldPassword") ? "invalid" : "" %>' type='password' id='oldPassword' name='oldPassword'>
                <div class='passwordToggle'>Show Password</div>
            </div>
            <div class="form-control">
                <label for='newPassword'>New Password</label>
                <input class='<%= validationErrors.find(e => e.param === "newPassword") ? "invalid" : "" %>' type='password' id='newPassword' name='newPassword'>
                <div class='passwordToggle'>Show Password</div>
            </div>
            <div class="form-control">
                <label for='confirmNewPassword'>Confirm New Password</label>
                <input class='<%= validationErrors.find(e => e.param === "confirmNewPassword") ? "invalid" : "" %>' type='password' id='confirmNewPassword' name='confirmNewPassword'>
                <div class='passwordToggle'>Show Password</div>
            </div>
            <input type='hidden' name='userId' value='<%= userId %>'>
            <input type='hidden' name='token' value='<%= token %>'>
            <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
            <button type='submit' class='btn'>Change Password</button>

        </form>
    </main>

    <script src="/js/showHidePassword.js"></script>
    <%- include('../includes/end.ejs') %>