<%- include('../includes/head.ejs') %>
<link rel='stylesheet' href='/css/forms.css'>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (errorMessage) { %>
        <div class='user-message user-message-error'>
            <%= errorMessage %>
        </div>
        <% } %>

        <form class="product-form" action='/signup' method='post'>
            <div class="form-control">
                <label for='firstName'>First Name</label>
                <input class='<%= validationErrors.find(e => e.param === "firstName") ? "invalid" : "" %>' type='text'
                    id='firstName' name='firstName' value='<%= oldInput.firstName %>' required>
            </div>
            <div class="form-control">
                <label for='lastName'>Last Name</label>
                <input class='<%= validationErrors.find(e => e.param === "lastName") ? "invalid" : "" %>' type='text'
                    id='lastName' name='lastName' value='<%= oldInput.lastName %>' required>
            </div>
            <div class="form-control">
                <label for='phoneNumber'>Phone Number</label>
                <input class='<%= validationErrors.find(e => e.param === "phoneNumber") ? "invalid" : "" %>' type='text'
                    id='phoneNumber' name='phoneNumber' value='<%= oldInput.phoneNumber %>'>
            </div>
            <div class="form-control">
                <label for='streetAddress'>Street Address</label>
                <input class='<%= validationErrors.find(e => e.param === "streetAddress") ? "invalid" : "" %>'
                    type='text' id='streetAddress' name='streetAddress' value='<%= oldInput.streetAddress %>' required>
            </div>
            <div class="form-control">
                <label for='city'>City</label>
                <input class='<%= validationErrors.find(e => e.param === "city") ? "invalid" : "" %>' type='text'
                    id='city' name='city' value='<%= oldInput.city %>' required>
            </div>
            <div class="form-control">
                <label for='state'>State</label>
                <input class='<%= validationErrors.find(e => e.param === "state") ? "invalid" : "" %>' type='text'
                    id='state' name='state' value='<%= oldInput.state %>' required>
            </div>
            <div class="form-control">
                <label for='zipCode'>Zip Code</label>
                <input class='<%= validationErrors.find(e => e.param === "zipCode") ? "invalid" : "" %>' type='text'
                    id='zipCode' name='zipCode' value='<%= oldInput.zipCode %>' required>
            </div>
            <div class="form-control">
                <label for='email'>Email Address</label>
                <input class='<%= validationErrors.find(e => e.param === "email") ? "invalid" : "" %>' type='email'
                    id='email' name='email' value='<%= oldInput.email %>' required>
            </div>
            <p class='password-instructions'>Password must be at least 12 characters long</p>
            <div class="form-control">
                <label for='password'>Password</label>
                <input class='<%= validationErrors.find(e => e.param === "password") ? "invalid" : "" %>'
                    type='password' id='password' name='password' required>
                <div class='passwordToggle'>Show Password</div>
            </div>
            <div class="form-control">
                <label for='confirmPassword'>Confirm Password</label>
                <input class='<%= validationErrors.find(e => e.param === "confirmPassword") ? "invalid" : "" %>' type='password' id='confirmPassword' name='confirmPassword' required>
                <div class='passwordToggle'>Show Password</div>
            </div>
            <input type='hidden' name='_csrf' value='<%= csrfToken %>'>
            <button type='submit' class='btn'>Sign Up</button>

        </form>
    </main>
    <script src="/js/showHidePassword.js"></script>
    <%- include('../includes/end.ejs') %>