<%- include('includes/head.ejs'); %>

</head>

<body>
    <%- include('includes/navigation.ejs'); %>

    <main>
        <% if (products.length > 0) {%>
        <div class="grid">
            <% for (product of products) { %>
            <article class="card">
                <h1><%=product.title %></h1>
                <div class="imageContainer">
                    <img src="<%=product.imageSource %>" alt="A Book">
                </div>

                <h2><%=product.price %></h2>
                <p><%=product.description %></p>
                <form action='/delete-product' method='POST'>
                    <button>Delete Product</button>
                    <input type='hidden' value='<%=product.title %>' name=title>
                </form>
            </article>
            <% } %>
        </div>
        <% } else {%>
        <h1>No products found</h1>
        <% } %>
    </main>

    <%- include('includes/end.ejs'); %>