<%- include('../includes/head.ejs') %>
<link rel='stylesheet' href='/css/cart.css'>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class='centered'>
        <% if (products.length > 0) { %>
        <h1>Your Cart</h1>
        <div class='cart'>
            <h2 class='cart__quantity__label'>Quantity</h2>
            <h2 class="cart__total__label">Total</h2>
            <% products.forEach(p=> { %>
            
                <div class='cart__image'>
                    <img src='<%=p.productData.imageUrl %>' alt='<%=p.productData.title %>'>
                </div>
                <p><%=p.productData.title %></p>

                <p><%=p.qty %></p>

                <p><%=p.qty * p.productData.price %></p>

                <form action='/cart-delete-item' method='POST'>
                    <input type='hidden' name='productId' value='<%=p.productData.id %>'>
                    <button class='btn' type='submit'>Delete</button>
                </form>

                <% }) %>
            
            <% } else { %>
            <h1>Your Cart is Empty</h1>
            <% } %>
    </main>
    <%- include('../includes/end.ejs') %>