<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product-details.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class='centered'>
        
        <section class='product__details'>
            <div class='product__details__image'>
                <img src='<%= product.imageUrl %>' alt='<%= product.title %>'>
            </div>
            <div class='product__details__content'>
                <h1 class='product__details__title'><%= product.title %></h1>
                <h2 class='product__details__author'>by <%= product.author %></h2>
                <p class='product__details__summary'><%= product.summary %></p>
                <p class='product__details__price'>$<%= product.price %></p>    
                <% if (isAuthenticated) { %>            
                <%- include('../includes/addToCart.ejs') %>
                <% } %>
            </div>
        </section>
    </main>>

    <%- include('../includes/end.ejs') %>